@font-face {
  font-family: "Alegreya";
  src: url(./AlegreyaSans-Regular.ttf);
}

.applied {
  font-family: "Alegreya";
}

.button {
  cursor: pointer;
}

.active-button {
  background-color: rgb(225, 229, 212);
}
